<!DOCTYPE html>
<html lang="en">
<head>
    <title>URL Shortener</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>URL Shortener</h1>
    <form action="/shorten" method="POST">
        <div class="form-group">
            <label for="url">URL </label>
            <input type="url" pattern="http.*://.*" class="form-control" id="url" required="required" placeholder="Enter url" name="url">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>