<!DOCTYPE html>
<html lang="en">
<head>
    <title>URL Shortener</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
<div class="container">
    <h1>URL Shortener</h1>
    <form action="/shorten" method="POST">
        <div class="form-group">
            <label for="url">URL </label>
            <input class="form-control" id="url" name="url" pattern="http.*://.*" placeholder="Enter url"
                   required="required" type="url">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>